version: "3.9"

services:
  api:
    build: .
    container_name: eventra-api
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - postgres
      - mongo
      - redis

  postgres:
    image: postgres:15
    container_name: eventra-postgres
    environment:
      POSTGRES_DB: eventra
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1206
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    container_name: eventra-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: eventra-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  mongo_data:
